:root {
    --background-color: #ffffff;
    --title-first-color: #000000;
    --title-second-color: #d67e34;
    --main-text-color: #656363;
    --subtitle-first-color: #2c2c2c;
    --subtitle-second-color: #bc9060;
    --button-background-color: #ff7400;
    --button-text-color: #ffffff;
}
a {
    text-decoration: none;
}
ul,
ol,
li {
    list-style: none;
}
img {
    vertical-align: top;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    font-size: inherit;
    font-weight: inherit;
}
html,
body {
    width: 100%;
    /* line-height: 1px; */
}
.container {
    width: 1200px;
    padding-left: 15px;
    padding-right: 15px;
    margin: 0 auto;
}
.contact-list {
    display: flex;
}
.header-menu {
    display: flex;
    width: 742px;
    height: 74px;
    font-family: Open Sans;
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.35;
    color: var(--button-text-color);
}
.contact-icon {
    fill: #180a0a62;
}
.button {
    width: 157px;
    height: 47px;
    border-radius: 3px;
    padding: 14px 18px;
    text-transform: uppercase;
    color: var(--button-text-color);
    background-color: var(--button-background-color);
}
.hero-name-upper {
    font-family: Tinos;
    font-style: normal;
    font-weight: normal;
    font-size: 50px;
    line-height: 1.14;
    color: #d67e35;
}
.hero-name-bottom {
    font-family: Tinos;
    font-style: normal;
    font-weight: normal;
    font-size: 80px;
    line-height: 1.15px;
    color: #d67e35;
}
.hero-name-undertitle {
    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 1.39;
    color: var(--background-color);
}
/* body {
    background-color: #ffffff;
}
.visually-hidden {
    position: absolute;
    clip: rect(0 0 0 0);
    width: 1px;
    height: 1px;
    margin: -1px;
} */
